django==1.11.28
djangorestframework==3.8.2
djangorestframework-bulk==0.2.1
django-all-access==0.9.0
django-widget-tweaks==1.4.2
django-markdown-deux==1.0.5
geoip2
python-slugify
django_compressor==2.2
csscompressor
html5lib
django-cachalot==1.5.0
django-debug-toolbar==1.9.1
