django==3.0.12
djangorestframework
djangorestframework-bulk
django-widget-tweaks
django-markdown-deux
social-auth-app-django
geoip2
python-slugify
django_compressor
csscompressor
html5lib
django-cachalot
django-debug-toolbar
