/*html,body {*/
    /*background: -webkit-linear-gradient(90deg, #FBC926 10%, #C3922E 90%); !* Chrome 10+, Saf5.1+ *!*/
    /*background: -moz-linear-gradient(90deg, #FBC926 10%, #C3922E 90%); !* FF3.6+ *!*/
    /*background: -ms-linear-gradient(90deg, #FBC926 10%, #C3922E 90%); !* IE10 *!*/
    /*background: -o-linear-gradient(90deg, #FBC926 10%, #C3922E 90%); !* Opera 11.10+ *!*/
    /*background: linear-gradient(90deg, #FBC926 10%, #C3922E 90%); !* W3C *!*/
/*}*/

body{
    background-image: url("../image/background.jpg");
    text-color:black !important;
    font-family: Ubuntu, sans-serif !important;

}

#userview-tab-content{
    margin-top: 1em;
}

.card-group{
    width:100%;
    height:auto;
}


#sun-navbar{
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
            )
}

.card,.guild-card-group-item,#user-stats{
    background-color:transparent !important;
    background: linear-gradient(
            rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.15)
    );
    border-radius: 5px;
}
#user-stats,#navbar-header{
    text-align: center;
}

#card-img-top,#useroverview-name{
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
}
#useroverview-name{
    text-shadow: 3px -1px 1px rgba(170, 170, 115, 1);
}


.button-x-corner{
    display:inline;
    float:right;
    top:0;
    right:0;

    color:red;
    background-color: transparent;
    border-color: transparent;
}

.list-group-item{
    background-color: transparent !important;
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.1),
                    rgba(0, 0, 0, 0.1)
            );
    border-color:black !important;
}

#sun-navbar a{
    color:white;
    padding:5px;
}

#user-nav-bar{
    margin-bottom: 3em;
    padding:0.5em;
}


#sk-logo{
    width:37px;
    height:37px;
}

#masteries-user-row{
    margin-top: 1em;
}


img.discord-img{
    width: 200px;
}

.hidden{
    visibility: hidden;
}
.img-circle,#sk-logo {
    border-radius: 50%;
}

img.leaderpoint-avatar{
  width:32px;
  height:32px;
}

#jumbotron-content{
    background-color:transparent;
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.1),
                    rgba(0, 0, 0, 0.1)
            )
}

.dropdown-toggle {
    border: 1px solid rgba(0, 0, 0, 0.14902) !important;
    text-shadow: none !important;
    color: black !important;
    font-weight: normal !important;

}

#submit-tank-picker{
    margin-bottom: 2em !important;
}

/* make the images on the record submit select a bit more to the right */
.dropdown-menu li {
    padding: 0px 15px 1px !important;
}