html,body {
    background-image: url("https://cdn.discordapp.com/attachments/262523059481608192/263270322462130176/PicsArt_12-26-10.12.57.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#sun-navbar{
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
            )
}


.card{
    background-color:transparent;
    background: linear-gradient(
            rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.15)
    )
}

#sun-navbar a{
    color:white;
    padding:5px;
}

#user-nav-bar{
    margin-bottom: 3em;
    padding:0.5em;
}


#sk-logo{
    width:37px;
    height:37px;
}


img.discord-img{
    width: 200px;
}


img.leaderpoint-avatar{
  width:32px;
  height:32px;
}

#jumbotron-content{
    background-color:transparent;
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.1),
                    rgba(0, 0, 0, 0.1)
            )
}