{% load markdown_deux_tags %}
<form action="{% url 'ajaxhandler' %}" id="eventquestsubmit" method="POST">
    {% csrf_token %}
    {{ submiteventsquestsform.ajax_action_id }}
    <div class="form-group">
        <label for="submitterspam">Note</label>
        <input type="text" class="form-control" name="submitterText" id="submitterquestspam" maxlength="200"
               placeholder="Please give me points because I solved today's quest.">
    </div>

    <div id="submit-quest-picker" class="form-group">
        <label for="quest">Did you complete a quest?</label>
        <select class="custom-select form-control selectpicker quest-select" name="questtask"
                id="select-quest-submit">
            <optgroup label="Default">
                <option value="">No</option>
            </optgroup>
            <optgroup label="Permanent Quests">
                {% for task in user.get_perm_tasks.all %}
                    <option value="{{ task.id }}" data-content="<span>Tier {{ task.tier }}: {{ task.questtext_html }}</span>"></option>
                {% endfor %}
            </optgroup>
            <optgroup label="Daily Quests">
                {% for task in user.get_daily_tasks.all %}
                    <option value="{{ task.id }}" data-content="<span>Tier {{ task.tier }}: {{ task.questtext_html }}</span>"></option>
                {% endfor %}
            </optgroup>
        </select>
    </div>


    <div class="form-group">
        <label for="proof">Proof of your score</label>
        <input type="url" class="form-control" name="proof" pattern="[^\s]+" title="Do not put multiple proofs here please. Put them all into one link (e.g imgur album)." id="proof" required
               placeholder="http://imgur.com/a/euVO7"
               aria-describedby="urlHelpBlock">
        <p id="urlHelpBlock" class="form-text">
            Your proof should be a <strong>direct
            link</strong> to an <strong>uncropped</strong> image (or link to youtube.com or just an
            imgur-link).
        </p>
    </div>
    <button type="submit" id="recordeventsubmitbtn" class="btn btn-primary">Submit</button>
</form>
