<div class="row">
    <div class="card-block col-12 col-sm-12" id="description-block">

        <div class="card-deck">

            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Permanent Quests</h4>
                    <p class="card-text">

                        {% for task in permdaily.validtasks.all %}
                                <div class="questtaskuserdiv" id="task-{{ task.id }}">
                                    <ul>
                                        <li>
                                            <span class="pointsquest">{{ task.points }} Points:</span>

                                            {{ task.questtext_html }}
                                        </li>
                                    </ul>
                                </div>
                        {% endfor %}

                    </p>

                </div>
            </div>


            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Daily Quests</h4>
                    <p class="card-text">
                    {% if daily.validtasks.all.count > 0 %}
                        Quests:
                    {% endif %}
                        {% for task in daily.validtasks.all %}
                                <div class="questtaskuserdiv" id="task-{{ task.id }}">
                                    <ul>
                                        <li>
                                            <span class="pointsquest">{{ task.points }} Points:</span>

                                            {{ task.questtext_html }}
                                        </li>
                                    </ul>
                                </div>
                        {% endfor %}
                    {% if daily.builds.all.count > 0 %}
                        Builds:
                    {% endif %}
                    {% for build in daily.builds.all %}
                        <div class="questtaskuserdiv" id="build-{{ build.id }}">
                            <ul>
                                <li>
                                    <span class="build">Build:</span>
                                    {{ build.build }}
                                </li>
                            </ul>
                        </div>
                    {% endfor %}

                    {% if daily.multipliers.all.count > 0 %}
                        Multipliers:
                    {% endif %}
                    {% for multiplier in daily.multipliers.all %}
                        <div class="questtaskuserdiv" id="multiplier-{{ multiplier.id }}">
                            <ul>
                                <li>
                                    <span class="pointsquest">{{ multiplier.tank.name }}:</span>
                                    x{{ multiplier.multiplier }}
                                </li>
                            </ul>
                        </div>
                    {% endfor %}

                    </p>

                </div>
            </div>


        </div>
    </div>
</div>