<h3>Score Submissions</h3>

<table id="open-submissions-score-table" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Id</th>
        <th>Tank</th>
        <th>Note</th>
        <th>Expected Points</th>
        <th>Proof</th>
    </tr>
    </thead>
    <tbody>
    {% for submission in user.last_open_score_submissions %}
        <tr>

            <td>{{ submission.id }}</td>
            <td><div class="{{ submission.tank.name|slugify }}"></div>{{ submission.tank.name }}</td>
            <td>{{ submission.submitterText }}</td>
            <td>{{ submission.points }}</td>
            <td><a href="{{ submission.proof }}">Prooflink</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>



<h3>Event/Quest Submissions</h3>

<table id="open-submissions-eventquest-table" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Id</th>
        <th>Quest</th>
        <th>Note</th>
        <th>Expected Points</th>
        <th>Proof</th>
    </tr>
    </thead>
    <tbody>
    {% for submission in user.last_open_event_submissions %}
        <tr>

            <td>{{ submission.id }}</td>
            {% if submission.questtask %}
                <td>T{{ submission.questtask.tier }}: {{ submission.questtask.questtext }}</td>
            {% else %}
            <td>None</td>
            {% endif %}
            <td>{{ submission.submitterText }}</td>
            <td>{{ submission.points }}</td>
            <td><a href="{{ submission.proof }}">Prooflink</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>






<h3>Fight Submissions</h3>

<table id="open-submissions-fights-table" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Id</th>
        <th>Expected Points</th>
        <th>Proof</th>
    </tr>
    </thead>
    <tbody>
    {% for submission in user.last_open_fights_submissions %}
        <tr>

            <td>{{ submission.id }}</td>

            {% if submission.pointsinfo.id == user.pointsinfo.id %}
                <td>{{ submission.points }}</td>
            {% else %}
                <td>{{ submission.pointsloser }}</td>
            {% endif %}

            <td><a href="{{ submission.proof }}">Prooflink</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
