<form action="{% url 'ajaxhandler' %}" id="recordsubmit" method="POST">
    {% csrf_token %}
    {{ submitpointsform.ajax_action_id }}
    <div class="form-group">
        <label for="selectgamemode">The gamemode you played</label>
        <select default="1" class="custom-select form-control" name="gamemode"
                id="selectgamemode">
            {% for gamemode in gamemodes %}
                <option value="{{ gamemode.id }}">{{ gamemode.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="submit-tank-picker" class="form-group">
        <label for="selectclass">The tank you used</label>
        <select class="custom-select form-control selectpicker" name="tank"
                id="select-tank-submit">
            {% for tank in tanks %}
                <option data-icon="{{ tank.name|slugify }}"
                        value="{{ tank.id }}">{{ tank.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="score">Your Score</label>
        <input type="number" class="form-control" name="score" id="score" placeholder="12345678"
               min="0" max="99999999" required>
    </div>
    <div class="form-group">
        <label for="submitterspam">Note</label>
        <input type="text" class="form-control" name="submitterText" id="submitterspam" maxlength="200"
               placeholder="Something important I have to say!">
    </div>
    <div class="form-group">
        <label for="proof">Proof of your score <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Make sure it is a deathscreen!"></i></label>
        <input type="url" class="form-control" name="proof" pattern="[^\s]+" title="Do not put multiple proofs here please. Put them all into one link (e.g imgur album)." id="proof" required aria-required="true"
               placeholder="http://imgur.com/a/euVO7"
               aria-describedby="urlHelpBlock">
        <p id="urlHelpBlock" class="form-text">
            Your proof should be a <strong>direct
            link</strong> to an <strong>uncropped</strong> image (or link to youtube.com or just an
            imgur-link).
        </p>
    </div>
    <button type="submit" id="recordsubmitbtn" class="btn btn-primary">Submit</button>
</form>
