<form action="{% url 'ajaxhandler' %}" id="recordpreferences" method="POST">
    {% csrf_token %}
    {{ submitpreferencesform.ajax_action_id }}

    <div class="form-group">
        <label for="bgimg">Background Image <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Background image"></i></label>
        <input type="url" class="form-control" name="proof" pattern="[^\s]+" title="Do not put multiple links here please." id="bgimg" required aria-required="true"
               placeholder="http://imgur.com/a/euVO7"
               aria-describedby="urlHelpBlock">
        <p id="bgurlHelpBlock" class="form-text">
            Your background image should be a <strong>direct
            link</strong> to a <strong>working URL</strong> image (eg. an imgur-link).
        </p>
    </div>

    <button type="submit" id="recordpreferences" class="btn btn-primary">Submit</button>

</form>
