<!--##=================================## preferences.html ##==================================##-->
<!--##================================== Preferences Pane =====================================##-->
<h3> User Settings </h3>
<form action="{% url 'ajaxhandler' %}" id="recordpreferences" method="POST">
    {% csrf_token %}
    {{ savepreferences.ajax_action_id }}
    <script>hideSubmit();</script>
    <!--#================================= Preferences form ==================================#-->
    <div class="form-group">
        <!--====================== Enable/Disable Custom Background =======================-->
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox"
                  class="form-check-input"
                  name="custom_background_enabled"
                  {% if user.preferences and user.preferences.custom_background_enabled %}
                     checked
                  {% endif %}
                >
                Enable Custom Background
            </label>
        </div>
        <!--==================== End Enable/Disable Custom Background =====================-->

        <!--========================== Background image URL info ==========================-->
        <label for="bgimg">
          Background Image
          <i class="fa fa-question-circle"
            aria-hidden="true"
            data-toggle="tooltip"
            data-placement="top"
            title="Enter a link to your custom background image...">
          </i>
        </label>
        <!--======================== End Background image URL info ========================-->

        <!--========================= Background image URL input ==========================-->
        <input
          type="url"
          class="form-control"
          name="custom_background_url"
          pattern="[^\s]+"
          title="Do not put multiple links here please."
          id="bgimg"
          required
          aria-required="true"
          placeholder="http://imgur.com/a/euVO7"
          aria-describedby="urlHelpBlock"
          {% if user.preferences%}
            value="{{ user.preferences.custom_background_url }}"
          {% endif %}
        >
        <!--======================= End Background image URL input ========================-->

        <p>
          <input type="checkbox" id="checkimg" value="checkImg" onclick="showSubmit();">
          <label for="CheckUrl">Click me to check URL</label>
        </p>

        <script>function showSubmit() {
          var btn = document.getElementById("recordsubmitbtn");
          btn.disabled = false;
          //alert('amIBeingCalled?');
          //readURL(document.getElementById("bgimg").value);

          //btn.disabled = false;

        } </script>

        <script>function readURL(input) {
          if (window.FileReader && window.Blob) {
            if (input.files && input.files[0]) {
              var reader = new FileReader();
              reader.onload = function (e) {
                var img = new Image();
                img.onload = function() {
                  //<!--loadable-->
                };
                img.onerror = function() {
                  alert('error');
                  input.value = '';
                };
                img.src = e.target.result;
              }
              reader.readAsDataURL(input.files[0]);
            }
          }
          else {
            var ext = input.value.split('.');
            ext = ext[ext.length-1].toLowerCase();
            var arrayExtensions = ['jpg' , 'jpeg', 'png', 'bmp', 'gif'];
            if (arrayExtensions.lastIndexOf(ext) == -1) {
              alert('error');
              input.value = '';
            }
            else {
              //<!--success-->
            }
          }
        }
        </script>


        <!--========================== Background image URL info ==========================-->
        <p id="urlHelpBlock" class="form-text">
            Your background image should be a <strong> working direct link (URL)</strong>
            to an image <i>(eg. an imgur link)</i>.
        </p>
        <!--======================== End Background image URL info ========================-->

        <!--============================= Photo of the Month ==============================-->
        <div><b>
          Photo/Animation of the month:
          This <i>amazing</i> animation brought to you by Nightmare (@Lavahound)!
        </b></div>
        <img
          src= "https://cdn.discordapp.com/attachments/252525368865456130/289964275370426378/diep.gif"
          alt="HTML5 Icon"
        >
        <!--=========================== End Photo of the Month ============================-->

        <script>function hideSubmit(){
          var btn = document.getElementById("recordsubmitbtn");
          btn.style.display = "display: none";
        }</script><!--Hide or disable submit button until url has been checked??-->

    </div>
    <!--#=============================== End Preferences form ================================#-->

    <!--#================================== Submit Button ====================================#-->
    <button
      type="submit"
      id="recordsubmitbtn"
      class="btn btn-primary"
    >
      Submit
    </button>
    <!--#================================ End Submit Button ==================================#-->
</form>
<!--##================================ End Preferences Pane ===================================##-->
