<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.material.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.css"/>


    <link rel="stylesheet" type="text/css" href="{% static 'sunknightsapp/css/sunknights.css' %}"/>
    {#    <link rel="stylesheet" type="text/css" href="{% static 'sunknightsapp/css/bootstrap.css' %}"/>#}


    {% block header %}{% endblock %}


<body>

<div class="container">
    <nav id="sun-navbar" class="navbar navbar-light">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header"
                aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs clearfix" id="navbar-header">
            <span class="nav navbar-nav">
                <a href="{% url 'index' %}">
                    <img id="sk-logo"
                         src="https://cdn.discordapp.com/attachments/262523059481608192/263270322462130176/PicsArt_12-26-10.12.57.jpg"></img>
                    Home
                </a>
            </span>


            {% if user.is_authenticated %}
                <a href="{% url 'leaderboard' %}">
                    Leaderboard
                </a>
                <a href="#">
                    Tournaments
                </a>
                <a href="{% url 'guilds' %}">
                    Guilds
                </a>

            {% endif %}
            {% if user.is_points_manager %}

                <a href="">
                    Manage Submissions
                </a>

            {% endif %}


            {% if user.is_war_manager %}

                <a href="">
                    Manage Guild Fights
                </a>

            {% endif %}


            {% block navigationlinks %}

            {% endblock %}

            <span class="float-xs-right">

                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-link" href="/accounts/login/Discord">Login</a>
                    {% endif %}

            </span>
        </div>
    </nav> <!-- /navbar -->

    <!-- Main component for a primary marketing message or call to action -->
    <div id="jumbotron-content" class="jumbotron">
        {% block content %} {% endblock %}
    </div>

</div> <!-- /container -->


<script
        src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="{% static 'sunknightsapp/js/simple.js' %}"></script>
{#<script src="{% static 'sunknightsapp/js/bootstrap.js' %}"></script>#}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"
        integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
        integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>


{% block scriptload %}{% endblock %}
<script>
    $(document).ready(function () {
        {% block scripts %}{% endblock %}
    });
</script>


</body>
</html>
