<!DOCTYPE html>
<html lang="en">
<head>
    {% load compress %}
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sun Knights</title>

    <style style="text/css">
        body {
        {% if user and user.preferences and user.preferences.custom_background_enabled %}
            background-image: url({{user.preferences.custom_background_url}});
        {% else %}
            background-image: url("../../static/sunknightsapp/image/background.jpg");
        {% endif %}
            background-position: 50% 0%;
            background-repeat: repeat;
        }
    </style>

    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

    {% compress css %}
        <link rel="stylesheet" type="text/css"
              href="{% static 'sunknightsapp/css/dataTables.bootstrap4.min.css' %}"/>


        <link rel="stylesheet" type="text/css"
              href="{% static 'sunknightsapp/css/font-awesome.min.css' %}"/>


        <link rel="stylesheet" type="text/css"
              href="{% static 'sunknightsapp/css/selectize.bootstrap3.min.css' %}"/>

        <link rel="stylesheet" type="text/css"
              href="{% static 'sunknightsapp/css/jquery.mCustomScrollbar.min.css' %}"/>

        <link rel="stylesheet" type="text/css"
              href="{% static 'sunknightsapp/css/bootstrap-select.min.css' %}"/>

        <link rel="stylesheet" type="text/css"
              href="{% static 'sunknightsapp/css/ajax-bootstrap-select.css' %}"/>

        <link rel="stylesheet" type="text/css"
              href="{% static 'sunknightsapp/css/sunknights.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'sunknightsapp/css/bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css"
              href="{% static 'sunknightsapp/css/bootstrap-datetimepicker.min.css' %}"/>
        <link rel="stylesheet" type="text/css"
              href="{% static 'sunknightsapp/css/bootstrap-datetimepicker-standalone.css' %}"/>

        <link rel="stylesheet" type="text/css" href="{% static 'sunknightsapp/css/tanks.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'sunknightsapp/css/flags.css' %}"/>
    {% endcompress %}
    <link rel="shortcut icon" type="image/png"
          href="https://cdn.discordapp.com/icons/252525368865456130/ae262cd29cc01ffeb863ae65b4e5b3fb.jpg"/>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    {% block header %}{% endblock %}
</head>

<body>


<div class="container-fluid">
    <nav id="sun-navbar" class="navbar navbar-light">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse"
                data-target="#navbar-header"
                aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs clearfix" id="navbar-header">
                <span class="nav navbar-nav ">
                    <p id="sk-title-bar">
                        <a href="{% url 'index' %}">
                            <img id="sk-logo"
                                 src="https://cdn.discordapp.com/icons/252525368865456130/ae262cd29cc01ffeb863ae65b4e5b3fb.jpg"></img>
                            <span class="sun-knights-logo-text lead h1">Sun Knights</span>
                        </a>

                        {% if user.is_authenticated %}

                            <input id="usersearch" type="text" class="" placeholder="Search for user">

                        {% endif %}

                    </p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="sk-navbar-link float-xs-right blackc">
                    <span class="fa fa-sign-out"></span>Logout
                </a>
                    {% else %}
                        <a href="/accounts/login/Discord" class="sk-navbar-link float-xs-right blackc">
                    <span class="fa fa-sign-in"></span>Login
                </a>
                    {% endif %}



                    {% if user.is_authenticated %}

                        <a href="{% url 'index' %}" class="sk-navbar-link blackc">
                          <span class="fa fa-tachometer"></span> Dashboard
                        </a>
                    {% endif %}

                </span>


            {% if user.is_authenticated %}
                <a href="{% url 'leaderboard' %}" class="sk-navbar-link blackc">
                    <span class="fa fa-trophy"></span> Leaderboard
                </a>
                {% comment %}                <a href="#">
                        Tournaments
                    </a>{% endcomment %}
                {% comment %}                <a href="{% url 'guilds' %}">
                        Guilds
                    </a>{% endcomment %}

            {% endif %}
            {% if user.is_points_manager %}
                <div class="btn-group dropdown">
                    <a class="btn btn-secondary dropdown-toggle infodrop" href="#" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       style="background: none;border: none !important;">
                        <span class="fa fa-gavel"></span> Manage Points
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item blackc" href="{% url 'managesubmissions' %}">Manage Submissions</a>
                        <a class="dropdown-item blackc" href="{% url 'managequests' %}">Manage Quests</a>
                    </div>
                </div>





            {% endif %}


            {% if user.is_war_manager %}
                {% comment %}
                    <a href="">
                        Manage Guild Fights
                    </a>{% endcomment %}

            {% endif %}

            <div class="btn-group dropdown">
                <a class="btn btn-secondary dropdown-toggle infodrop" href="#" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   style="background: none;border: none !important;">
                    <span class="fa fa-life-ring"></span> Information
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item blackc" href="{% url 'rules' %}">Rules</a>
                    <a class="dropdown-item blackc" href="{% url 'fantasydiep' %}">Fantasy Diep</a>
                    <a class="dropdown-item blackc" href="{% url 'builds' %}">Book Of Builds</a>
                    <a class="dropdown-item blackc" href="{% url 'newguide' %}">New Member's Guide</a>
                    <a class="dropdown-item blackc" href="{% url 'pointguide' %}">How to earn Points</a>
                    <a class="dropdown-item blackc" href="{% url 'ranks' %}">Ranks</a>
                    <a class="dropdown-item blackc" href="{% url 'commands' %}">Commands</a>
                    <a class="dropdown-item blackc" href="{% url 'faq' %}">FAQ</a>
                    <a class="dropdown-item blackc" href="{% url 'yt' %}">Youtubers</a>
                    <a class="dropdown-item blackc" href="{% url 'invites' %}">Important Invites</a>
                </div>
            </div>



            {% block navigationlinks %}

            {% endblock %}


        </div>
    </nav> <!-- /navbar -->

    <!-- Main component for a primary marketing message or call to action -->
    <div id="jumbotron-content" class="jumbotron">

        <div id="alertsContainer">

        </div>
        <div class="card global-card">
            {% block content %} {% endblock %}
        </div>
    </div>

</div> <!-- /container -->

<div id="sidebar-vis">
    {% block sidebar %}
    {% endblock %}
</div>
{% compress js %}
    <script src="{% static 'sunknightsapp/js/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'sunknightsapp/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'sunknightsapp/js/selectize.js' %}"></script>
{% endcompress %}
<script>
  ajaxhandlerurl = '{% url 'ajaxhandler' %}'
  ajaxactions =
    {{ ajaxactions|safe }}

    jsontanks = {{ jsontanks|safe }}
      jsontanksarr = [];
  (function () {
    for (var test of jsontanks) {
      jsontanksarr.push(test.name);
    }
  })()
  function slugify(text) {
    return text.toString().toLowerCase()
      .replace(/\s+/g, '-')           // Replace spaces with -
      .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
      .replace(/\-\-+/g, '-')         // Replace multiple - with single -
      .replace(/^-+/, '')             // Trim - from start of text
      .replace(/-+$/, '');            // Trim - from end of text
  }

</script>
{% compress js %}
    <script src="{% static 'sunknightsapp/js/simple.js' %}"></script>
{% endcompress %}
<script src="{% static 'sunknightsapp/js/showdown.min.js' %}"></script>
<script>
  (function () {
    var tank = function () {
      return [{
        type: 'lang',
        regex: /=\([^\n)]+\)/g,
        replace: function (text) {
          var aaatext = text;//.replace(/^=\(/, "").replace(/\)$/, "");
          var actualtext = aaatext.replace(/=\([^\n)]+\)/g, function (piece) {
            var mypiece = piece.replace(/^=\(/, "").replace(/\)$/, "");
            var valid = [];
            for (var thingy of jsontanksarr) {
              valid.push(slugify(thingy));
            }
            var validarr = [];
            for (var thing of valid) {
              validarr.push(thing.replace(/\./g, ""));
            }
            var isvalid = {
              isit: false,
              match: null
            };
            for (var vaalid of validarr) {
              if (vaalid.toLowerCase() === slugify(mypiece)) {
                isvalid.isit = true;
                isvalid.match = vaalid;
                break;
              }
            }
            if (isvalid.isit) {
              return "<div class=\"" + isvalid.match + "\"/>";
            } else
              return mypiece;
          });
          return actualtext;
        }
      }];
    };
    showdown.extension("tank", tank);
  })();
</script>
{% compress js %}
    <script src="{% static 'sunknightsapp/js/discord-widget.js' %}"></script>
    <script src="{% static 'sunknightsapp/js/loadmd.js' %}"></script>
    {% if text %}
        <script>loadMd("{{text}}");</script>
    {% endif %}
    <script src="{% static 'sunknightsapp/js/userdesc.js' %}"></script>
    <script src="{% static 'sunknightsapp/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'sunknightsapp/js/moment.js' %}"></script>
    <script src="{% static 'sunknightsapp/js/tether.min.js' %}"></script>

    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"#}
    {#        integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"#}
    {#        crossorigin="anonymous"></script>#}
    <script src="{% static 'sunknightsapp/js/bootstrap.js' %}"></script>
    <script src="{% static 'sunknightsapp/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'sunknightsapp/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'sunknightsapp/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'sunknightsapp/js/ajax-bootstrap-select.js' %}"></script>
    <script src="{% static 'sunknightsapp/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'sunknightsapp/js/usersearch.js' %}"></script>
{% endcompress %}
{% block scriptload %}{% endblock %}
<script>
  var csrftoken = $.cookie('csrftoken');

  $(document).ready(function () {

    {% if server != None %}

    discordWidget.init({
      serverId: {{ server.discord_id }},
      join: true,
      alphabetical: false,
      theme: 'light',
      hideChannels: true,
      showAllUsers: false,
      allUsersDefaultState: true,
      showNick: false
    });
    discordWidget.render();
    {% endif %}

    {% block scripts %}{% endblock %}
  });
</script>
{% block scriptself %}

{% endblock %}


</body>
</html>
