<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sun Knights</title>
    {% load static %}

    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">


    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">


    <link rel="stylesheet" type="text/css"
          href="{% static 'sunknightsapp/css/ajax-bootstrap-select.css' %}?{% now "U" %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'sunknightsapp/css/sunknights.css' %}?{% now "U" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'sunknightsapp/css/bootstrap.css' %}?{% now "U" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'sunknightsapp/css/tanks.css' %}?{% now "U" %}"/>


    {% block header %}{% endblock %}
</head>

<body>


<div class="container">
    <h2 class="alert-danger">This version is just for testing. The database will be reset from time to time!
        (Continue
        to submit to points managers directly for now, please)</h2>
    <nav id="sun-navbar" class="navbar navbar-light">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse"
                data-target="#navbar-header"
                aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs clearfix" id="navbar-header">
                <span class="nav navbar-nav ">
                    <p>
                        <a href="{% url 'index' %}">
                            <img id="sk-logo"
                                 src="https://cdn.discordapp.com/icons/252525368865456130/ae262cd29cc01ffeb863ae65b4e5b3fb.jpg"></img>
                            <span class="sun-knights-logo-text lead h1">Sun Knights</span>
                        </a>
                    </p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="sk-navbar-link float-xs-right blackc">
                    <span class="fa fa-sign-out"></span>Logout
                </a>
                    {% else %}
                        <a href="/accounts/login/Discord" class="sk-navbar-link float-xs-right blackc">
                    <span class="fa fa-sign-in"></span>Login
                </a>
                    {% endif %}



                    {% if user.is_authenticated %}

                        <a href="{% url 'index' %}" class="sk-navbar-link blackc">
                          <span class="fa fa-tachometer"></span> Dashboard
                        </a>
                    {% endif %}

                </span>


            {% if user.is_authenticated %}
                <a href="{% url 'leaderboard' %}" class="sk-navbar-link blackc">
                    <span class="fa fa-trophy"></span> Leaderboard
                </a>
                {% comment %}                <a href="#">
                        Tournaments
                    </a>{% endcomment %}
                {% comment %}                <a href="{% url 'guilds' %}">
                        Guilds
                    </a>{% endcomment %}

            {% endif %}
            {% if user.is_points_manager %}
                <a href="{% url 'managesubmissions' %}" class="sk-navbar-link blackc">
                    <span class="fa fa-gavel"></span> Manage Submissions
                </a>

            {% endif %}


            {% if user.is_war_manager %}
                {% comment %}
                    <a href="">
                        Manage Guild Fights
                    </a>{% endcomment %}

            {% endif %}

            <div class="btn-group dropdown">
                <a class="btn btn-secondary dropdown-toggle infodrop" href="#" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   style="background: none;border: none !important;">
                    <span class="fa fa-life-ring"></span> Information
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item blackc" href="{% url 'rules' %}">Rules</a>
                    <a class="dropdown-item blackc" href="{% url 'newguide' %}">New Member's Guide</a>
                    <a class="dropdown-item blackc" href="{% url 'pointguide' %}">How to earn Points</a>
                    <a class="dropdown-item blackc" href="{% url 'ranks' %}">Ranks</a>
                    <a class="dropdown-item blackc" href="{% url 'commands' %}">Commands</a>
                    <a class="dropdown-item blackc" href="{% url 'faq' %}">FAQ</a>
                    <a class="dropdown-item blackc" href="{% url 'yt' %}">Youtubers</a>
                    <a class="dropdown-item blackc" href="{% url 'invites' %}">Important Invites</a>
                </div>
            </div>

            {% block navigationlinks %}

            {% endblock %}


        </div>
    </nav> <!-- /navbar -->

    <!-- Main component for a primary marketing message or call to action -->
    <div id="jumbotron-content" class="jumbotron">

        <div id="alertsContainer">

        </div>

        {% block content %} {% endblock %}
    </div>

</div> <!-- /container -->


<script
        src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.js"></script>
<script>
    var ajaxretrieveuserurl = '{% url 'ajaxhandler' %}'
    var ajaxretrieveuserstofightagainstid =
    {{ ajaxactions|safe }}
</script>
<script src="{% static 'sunknightsapp/js/simple.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"
        integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB"
        crossorigin="anonymous"></script>
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"#}
{#        integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"#}
{#        crossorigin="anonymous"></script>#}
<script src="{% static 'sunknightsapp/js/bootstrap.js' %}"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
<script src="{% static 'sunknightsapp/js/ajax-bootstrap-select.js' %}"></script>

{% block scriptload %}{% endblock %}
<script>
    var csrftoken = $.cookie('csrftoken');

    $(document).ready(function () {

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })


        {% block scripts %}{% endblock %}
    });
</script>
{% block scriptself %}

{% endblock %}


</body>
</html>
