{% extends "sunknightsapp/base.html" %}
{% block content %}

<em><strong>Essential Commands</strong> (use in <mention>#commands-music</mention>)</em>:

<ul>
  <li><code>!help</code> - Lists all of Mee6's custom commands.</li>
  <li><code>!rank</code> - Shows your current level.</li>
  <li><code>!levels</code> - Shows Mee6's level leaderboards.</li>
  <li><code>!points</code> - Shows how you can get points.</li>
  <li><code>!pointsm</code> - Shows a list of all the points managers.</li>
  <li><code>!ranks</code> - Lists all of our existing ranks.</li>
  <li><code>!record</code> - Links you to a document which records all of our points and masteries.</li>
  <li><code>!subreddit</code> - Links you to the <a href="https://www.reddit.com/r/diepio">/r/diepio</a> subreddit.</li>
  <li><code>!wra</code> - Links you to diep.io's world record archive. DM <mention title="@Taco#1190">@Taco</mention> to submit a world record!</li>
  <li><code>!WRAsite2</code> - Links you to diep.io's world record website.</li>
  <li><code>!WRAserver</code> - Links you to <mention title="@Taco#1190">@Taco</mention>'s world record archive discord server.</li>
  <li><code>+selfrole Organizers</code> - Makes channel organizers visible or invisible to you.</li>
  <li><code>+selfrole Event notify</code> - Allows you to toggle whethere you are notified on servers or not.</li>
</ul>
<em><strong>Misc. Commands:</strong></em>
<!-- I made it a list to support upcoming misc commands -->
<ul>
  <li><code>!youtubers</code> - Shows all of our clan's youtubers' channels.</li>
</ul>

<em><strong>Music Commands</strong> (Join Gaming Music voice channel)</em>

<ul>
  <li><code>/play {song keyword/link/playlist link}</code> - Play a song or playlist.</li>
  <li><code>/list</code> - Lists all the songs in the queue.</li>
  <li><code>/shuffle</code> - Shuffles the current queue. Please do not spam in order to get your song to the front.</li>
  <li><code>/skip</code> - Vote to skip a currently playing song.</li>
</ul>

{% endblock %}