{% extends "sunknightsapp/base.html" %}
{% block content %}

<strong><em>FAQ:</em></strong>

<ol>
  <li><strong>Q: How do I master a class?</strong><br/>
      A: Get 200K or more with it. If you get 350k or 500k, you will unlock a new tier for it to upgrade.</li>
  <li><strong>Q: Where can I find the servers we are playing on?</strong><br/>
      A: All servers are posted at <mention>#current-server-link</mention>.</li>
  <li><strong>Q: How do you know I won in a 1v1 against a Sun Knight? How do you know we even played?</strong><br/>
      A: It is required to either send a clip of your 1v1 or have a Moderator present in the arena.</li>
  <li><strong>Q: To whom do I send my screenshots and clips to for points?</strong><br/>
      A: DM them to points managers. Point Managers are listed in the <code>!pointsm</code> command.</li>
</ol>
{% endblock %}