{% extends "sunknightsapp/base.html" %}
{% block content %}

    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            {% if errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for error in errors %}
                    <li>    <p>{{ error }}</p></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div id="card-sk-description" class="card sk-description">
                <div class="card-block">
                    <h4 class="card-title">Sun Knights</h4>
                    <p class="card-text">
                        Sun Knights is a competitive clan based on the <a href="http://diep.io">diep.io</a> game. Join us to
                        enhance
                        your
                        skills,
                        play with experienced players, take part in events, complete daily quests and unravel the gamer
                        in you!
                    </p>
                    <div class="discord-lini">
                        <a class="btn button sk-btn" href="https://discord.gg/7HssXAD">Join Discord Chat</a>
                        <a class="btn button sk-btn" href="/accounts/login/Discord">Login as Member</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
