{% extends "sunknightsapp/base.html" %}


{% block content %}
    {% load widget_tweaks %}

    <ul class="nav nav-tabs user-local-nav">
        <li class="nav-item active"><a href="#overview" class="nav-link" data-toggle="tab">Overview</a></li>
        <li class="nav-item"><a href="#decided-submissions" class="nav-link" data-toggle="tab">Decided Submission</a></li>
    </ul>


    <div id="userview-tab-content" class="tab-content clearfix">
        <div class="tab-pane active" id="overview">
            {% include "sunknightsapp/snippets/useroverview.html" %}
        </div>
        <div class="tab-pane" id="decided-submissions">
            {% include "sunknightsapp/snippets/decidedsubmissions.html" %}
        </div>

    </div>



{% endblock %}

{% block scriptself %}
    {% include "sunknightsapp/snippets/revertSubmissionScript.html" %}

    <script>
      $(function(){
        getDesc("#userdesc", '{{ lookuser.description|escapejs|default:"None" }}');
        var desc = $("#userdesccard");
        desc.mCustomScrollbar({
          axis: "y"
        });
        if (({{ lookuser.id }})==({{ user.id }})) {
            $("#userdescbutton").html("Edit").css("display", "block").attr("onclick", "editDesc(this, \"#userdesccancel\", \"#userdesc\")");
            $("#userdesccancel").attr("onclick", "cancelDesc(this, \"#userdescbutton\", \"#userdesc\")");
        }
      });
    </script>

{% endblock %}


