{% extends "sunknightsapp/base.html" %}
{% block content %}
<strong><em>RANKS:</em></strong>

<ul class="squareul">
  <li><strong>New</strong> - 0 points or level 0
        <ul class="squareul">
          <li>Tag as ❂</li>
          <li>Change Nickname</li>
          <li>Read and Send Messages</li>
          <li>Read message history</li>
          <li>Connect and Speak in Voice Channels</li>
        </ul>
  </li>
  <li><strong>In Training</strong> - 1 point or level 1 
        <ul class="squareul">
          <li>Tag as (❂)</li>
          <li>Can join classrooms</li>
          <li>Can join guilds</li>
        </ul>
  </li>
  <li><strong>Member</strong> - 10 points or level 4
        <ul class="squareul">
          <li>Tag as [❂]</li>
          <li>Create Instant Invite</li>
          <li>Embed Links</li>
        </ul>
  </li>
  <li><strong>Professional</strong> - 25 points or level 8
        <ul class="squareul">
          <li>Tag as {❂}</li>
          <li>Attach Files</li>
          <li>Able to be listed in <code>!youtubers</code> and youtuber list</li>
        </ul>
  </li>
  <li><strong>Elite</strong> - 50 points or level 12
        <ul class="squareul">
          <li>Tag as <❂></li>
          <li>Add Reactions</li>
          <li>Participate in exclusive events</li>
          <li>Access to speaking in <mention>#member-introduction</mention></li>
        </ul>
  </li>
  <li><strong>Warrior</strong> - 75 points or level 16 
        <ul class="squareul">
          <li>Tag as <<❂>></li>
        </ul>
  </li>
  <li><strong>Sentinel</strong> - 100 points or level 20
        <ul class="squareul">
          <li>Tag as ⪡❂⪢</li>
          <li>Able to create and lead a Guild</li>
        </ul>
  </li>
  <li><strong>Squire</strong> - 150 points or level 24
        <ul class="squareul">
          <li>Tag as ⇻❂⇺</li>
        </ul>
  </li>
  <li><strong>Knight</strong> - 300 points or level 28
        <ul class="squareul">
          <li>Tag as ⦓❂⦔</li>
          <li>Access to <mention>#current-server-link</mention> and <mention>#server-link-creators</mention> (A chat for link creators)</li>
          <li>Access to speaking in <mention>#quest-draft</mention> (A chat for quest suggestions)</li>
        </ul>
  </li>
  <li><strong>Paladin</strong> - 500 points or level 32 
        <ul class="squareul">
          <li>Tag as ⦕❂⦖</li>
        </ul>
  </li>
  <li><strong>Marshal</strong> - 750 points or level 35
        <ul class="squareul">
          <li>Tag as ⪤❂⪤</li>
          <li>Access to <mention>#sandbox-link</mention></li>
        </ul>
  </li>
  <li><strong>Cavalier</strong> - 1000 points or level 38
        <ul class="squareul">
          <li>Tag as ⚶❂⚶</li>
          <li>Higher chance of becoming Mentor</li>
          <li>Soon™: Access to SK's youtube channel</li>
        </ul>
  </li>
  <li><strong>Warden</strong> - 1500 points or level 41
        <ul class="squareul">
          <li>Tag as ☩❂☩</li>
        </ul>
  </li>
  <li><strong>Sorcerer</strong> - 2000 points or level 44
        <ul class="squareul">
          <li>Tag as ⊱❂⊰</li>
          <li>Use External Emojis</li>
        </ul>
  </li>
  <li><strong>Warlock</strong> - 3000 points or level 47
        <ul class="squareul">
          <li>Tag as ≾❂≿</li>
        </ul>
  </li>
  <li><strong>Prestige</strong> - 5000 points or level 50
        <ul class="squareul">
          <li>Tag as ༺❂༻</li>
          <li>Able to run their own events (Must request an admin)</li>
          <li>Access to <mention>#daily-quests</mention></li>
          <li>Able to choose their own color (must DM a staff a Hex code)</li>
        </ul>
  </li>
{% endblock %}
