{% extends "sunknightsapp/base.html" %}
{% block content %}
    <strong>Rules</strong>
    <ol>
        <li>Do not be disrespectful towards other members, regardless of whether they are at a lower role than you or not.</li>
        
        <li>Keep this server civil. This means no trolling, spamming, abusing bot commands, teasing, immature behaviour, insults, racism, sexism, homophobia, transphobia or xenophobia.</li>

        <li>Anything which is considered as NSFW is not allowed. Keep this chat PG-13. Remember, our clan has a very wide age range.</li>

        <li>Do not impersonate others in-game or in discord in order to get them in trouble.</li>

        <li>Make sure you are easily taggable. This means having regular text in either your nickname or username.</li>

        <li>Manipulating staff is not allowed in any way. This means messaging multiple record managers in order to get as many points as possible.</li>

        <li>Swearing is allowed, but not to a high extent. Avoid it as much as possible.</li>

        <li>Under no circumstances should a non-staff member use <strong>@Event Notify</strong>. If you want to have your link be in #current-server-link just tell a supervisor.</li>

        <em>Please note: Evasion of punishments given by Staff members will result in a heavier punishment, which ultimately may lead to a permanent ban.</em>
    </ol>

    <strong>Points Manager Rules</strong>
    <button onclick="showhide(this, 'ptmngrul')">View</button>
    <ul id="ptmngrul" style="display: none;list-style-type:square;">
        <li> Only full-screen, death-screen screenshots can be accepted. The only exception for this is for completion of quests.</li>
        <li> Points will be rounded down to the tenth. This means a score of 221k as well as a score of 228k are both given 2.2 points.</li>
        <li> Permanent quests do have a cooldown time. If you submit a permanent quest, you have to wait for the respective tier's "cooldown" before you can submit another of the same permanent quest.</li>
        <li> Intentionally attempting to re-use the same screenshots for identical points will lead to punishment. They will usually be dropping you by AT LEAST enough, if not more, points for you to lose a rank.</li>
        <li> To find out more about your points and masteries, use the command <strong>!points</strong> in <mention>#commands-music</mention>. </li>
    </ul>
{% endblock %}