<!--##===================================## userview.html ##===================================##-->
<!--##=================================## extends base.html ##=================================##-->

<!--##=================================## start inheritance ##=================================##-->
{% extends "sunknightsapp/base.html" %}
<!--##==================================## end inheritance ##==================================##-->

<!--##========================================## GUI ##========================================##-->
{% block content %}
    {% load widget_tweaks %}


    <!--#=================================# Main-tab-bar #==================================#-->
    <ul class="nav nav-tabs user-local-nav">
        <!--============================ Overview Tab Button =============================-->
        <li class="nav-item active">
          <a href="#overview" class="nav-link" data-toggle="tab">
            Overview
          </a>
        </li>
        <!--========================== End Overview Tab Button ===========================-->

        <!--========================== Score Submit Tab Button ===========================-->
        <li class="nav-item">
          <a href="#submit-pts" class="nav-link" data-toggle="tab">
            Submit Score
          </a>
        </li>
        <!--======================== End Score Submit Tab Button =========================-->

        <!--========================== 1 v 1 Submit Tab Button ===========================-->
        <li class="nav-item">
          <a href="#submit-1vs1" class="nav-link" data-toggle="tab">
            Submit Fight Result
          </a>
        </li>
        <!--======================== End 1 v 1 Submit Tab Button =========================-->

        <!--========================== Quest Submit Tab Button ===========================-->
        <li class="nav-item">
          <a href="#submit-other" class="nav-link" data-toggle="tab">
            Submit Event/Quest
          </a>
        </li>
        <!--======================== End Quest Submit Tab Button =========================-->

        <!--======================== Open Submissions Tab Button =========================-->
        <li class="nav-item">
          <a href="#open-submissions" class="nav-link" data-toggle="tab">
            Open Submission
          </a>
        </li>
        <!--====================== End Open Submissions Tab Button =======================-->

        <!--======================= Decided Submission Tab Button ========================-->
        <li class="nav-item">
          <a href="#decided-submissions" class="nav-link" data-toggle="tab">
            Decided Submission
          </a>
        </Li>
        <!--===================== End Decided Submission Tab Button ======================-->

        <!--=========================== Preferences Tab Button ===========================-->
        <li class="nav-item">
          <a href="#preferences" class="nav-link" data-toggle="tab">
            Preferences
          </a>
        </li>
        <!--========================= End Preferences Tab Button =========================-->
    </ul>
    <!--#=================================# Main-tab-bar #==================================#-->

    <!--#===============================# Tab-pane-content #================================#-->
    <div id="userview-tab-content" class="tab-content clearfix">

        <!--=========================== User Overview Content ============================-->
        <div class="tab-pane active"
          id="overview">
            {% include "sunknightsapp/snippets/news.html" %}
            {% include "sunknightsapp/snippets/useroverview.html" %}
        </div>
        <!--========================= End User Overview Content ==========================-->

        <!--======================= User Score Submission Content ========================-->
        <div class="tab-pane"
          id="submit-pts">
            {% include "sunknightsapp/snippets/pointssubmitform.html" %}
        </div>
        <!--======================= User Score Submission Content ========================-->

        <!--======================= User 1 v 1 Submission Content ========================-->
        <div class="tab-pane"
          id="submit-1vs1">
            {% include "sunknightsapp/snippets/fightssubmitform.html" %}
        </div>
        <!--===================== End User 1 v 1 Submission Content ======================-->

        <!--======================= User Quest Submission Content ========================-->
        <div class="tab-pane"
          id="submit-other">
            {% include "sunknightsapp/snippets/eventquestsubmission.html" %}
        </div>
        <!--======================= User Quest Submission Content ========================-->

        <!--======================= User Open Submissions Content ========================-->
        <div class="tab-pane"
          id="open-submissions">
            {% include "sunknightsapp/snippets/opensubmissions.html" %}
        </div>
        <!--===================== End User Open Submissions Content ======================-->

        <!--===================== User Decided Submissions Content =======================-->
        <div class="tab-pane"
          id="decided-submissions">
            {% include "sunknightsapp/snippets/decidedsubmissions.html" %}
        </div>
        <!--==================== End User Decided Submission Content =====================-->

        <!--========================== User Preferences Content ==========================-->
        <div class="tab-pane"
          id="preferences">
            {% include "sunknightsapp/snippets/preferences.html" %}
        </div>
        <!--======================== End User Preferences Content ========================-->
    </div>
    <!--#=============================# End Tab-pane-content #==============================#-->

{% endblock %}
<!--##======================================## End GUI ##======================================##-->

<!--##===================================## GUI Scripts ##=====================================##-->
{% block scriptself %}
    {% include "sunknightsapp/snippets/revertSubmissionScript.html" %}

    <script>
    //todo:replace all successmsg and failuremsg into two functions
    $(document).ready(function () {
        var datatableopenscoresubmissions=$('#open-submissions-score-table').DataTable();
        var datatableopenfightssubmissions=$('#open-submissions-fights-table').DataTable();
        var datatableopeneventquestssubmissions=$('#open-submissions-eventquest-table').DataTable();

        //<!--#==========================# Preferences script #===========================#-->\\
        $('#recordpreferences').on('submit', function (event) {
          event.preventDefault();
          console.log(event);
          var form = new FormData(this);
          sunKnightsJsonRequest(form, function (result, data) {
            if (result) {
              submission = data['message']['data']

              //Success message
              $('#alertsContainer').append(""+
                "<div class=\"alert alert-success alert-dismissible fade in\" role=\"alert\">"+
                  "<button type=\"button\" "+
                    "class=\"close\" "+
                    "data-dismiss=\"alert\" "+
                    "aria-label=\"Close\""+
                  ">"+
                  "<span aria-hidden=\"true\">&times;</span>"+
                  "</button>"+
                  "<strong>Preferences Saved</strong>"+
                "</div>")
              console.log('submissions....')
              console.log(submission);
              console.log('preferences received');
              //body.style.backgroundImage="url(submission['custom_background_url'])";
              location.reload();
            }else{
              console.log('error!')
              console.log(data)

              //Failure message
              $('#alertsContainer').append(""+
                "<div class=\"alert alert-success alert-dismissible fade in\" role=\"alert\">"+
                  "<button type=\"button\" "+
                    "class=\"close\" "+
                    "data-dismiss=\"alert\" "+
                    "aria-label=\"Close\""+
                  ">"+
                  "<span aria-hidden=\"true\">&times;</span>"+
                  "</button>"+
                  "<strong>Something went wrong saving your preferences.</strong> "+
                  "Please try again."+
                "</div>")

              //$('#alertsContainer').append("<div class=\"alert alert-danger alert-dismissible fade in\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Something went wrong :O<strong></div>")
            }
          },false,false);
          this.reset();

        });
        //<!--#========================# End Preferences script #=========================#-->\\

        //<!--#=======================# Score Submissions script #========================#-->\\
        $('#recordsubmit').on('submit', function (event) {
          event.preventDefault();

          console.log('pressed')

          //set default note if nothing was set

          var note = $('#submitterspam').val()
          if (note == "")
            $('#submitterspam').val('None')

          var form = new FormData(this);
          sunKnightsJsonRequest(form, function (result, data) {
            console.log("got data")
            if (data.status!=null&&data.status!="failure") {
              submission = data['message']['data']

              //Success message
              $('#alertsContainer').append(""+
                "<div class=\"alert alert-success alert-dismissible fade in\" role=\"alert\">"+
                  "<button type=\"button\" "+
                    "class=\"close\" "+
                    "data-dismiss=\"alert\" "+
                    "aria-label=\"Close\""+
                  ">"+
                  "<span aria-hidden=\"true\">&times;</span>"+
                  "</button>"+
                  "<strong>Score Submitted</strong>"+
                "</div>")

                //$('#alertsContainer').append("<div class=\"alert alert-success alert-dismissible fade in\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Submitted<strong></div>")
              datatableopenscoresubmissions.row.add([
                submission['id'],
                submission['tank']['name'],
                submission['submitterText'],
                submission['points'],
                "<a href=\"" + submission['proof'] + "\">Prooflink</a>"
              ]).draw(false)
            }
            else {
              console.log('fuck this shit')
              console.log(data)
              //Failure message
              $('#alertsContainer').append(""+
                "<div class=\"alert alert-danger alert-dismissible fade in\" role=\"alert\">"+
                  "<button type=\"button\" "+
                    "class=\"close\" "+
                    "data-dismiss=\"alert\" "+
                    "aria-label=\"Close\""+
                  ">"+
                  "<span aria-hidden=\"true\">&times;</span>"+
                  "</button>"+
                  "<strong>Something went wrong with your score submission.</strong> "+
                  data.message+
                "</div>")

              //$('#alertsContainer').append("<div class=\"alert alert-danger alert-dismissible fade in\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Something went wrong :O<strong></div>")
            }
          }, false, false);
          this.reset();
          $('#select-tank-submit').selectpicker('render');
        });
        //<!--#=====================# End Score Submissions script #=======================#-->\\

        //<!--#=======================# Quest Submissions script #=========================#-->\\
        $('#eventquestsubmit').on('submit', function (event) {
          event.preventDefault();

          //set default note if nothing was set

          var note = $('#submitterquestspam').val()
          if (note == "") {
            $('#submitterquestspam').val('None')
          }
          var form = new FormData(this);
          sunKnightsJsonRequest(form, function (result, data) {
            if (data.status!=null&&data.status!="failure") {
              submission = data['message']['data']

              //Success message
              $('#alertsContainer').append(""+
                "<div class=\"alert alert-success alert-dismissible fade in\" role=\"alert\">"+
                  "<button type=\"button\" "+
                    "class=\"close\" "+
                    "data-dismiss=\"alert\" "+
                    "aria-label=\"Close\""+
                  ">"+
                  "<span aria-hidden=\"true\">&times;</span>"+
                  "</button>"+
                  "<strong>Quest/Event Submitted</strong>"+
                "</div>")

              //$('#alertsContainer').append("<div class=\"alert alert-success alert-dismissible fade in\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Submitted<strong></div>")

              {# datatableopeneventquestssubmissions.row.add([#}
              {# submission['id'],#}
              {# submission['submitterText'],#}
              {# submission['points'],#}
              {# "<a href=\"" + submission['proof'] + "\">Prooflink</a>"#}
              {# ]).draw(false)#}
              location.reload();
            }
            else {
              console.log('fuck this shit')
              //Failure message
              $('#alertsContainer').append(""+
                "<div class=\"alert alert-danger alert-dismissible fade in\" role=\"alert\">"+
                "<button type=\"button\" "+
                "class=\"close\" "+
                "data-dismiss=\"alert\" "+
                "aria-label=\"Close\""+
                ">"+
                "<span aria-hidden=\"true\">&times;</span>"+
                "</button>"+
                "<strong>Something went wrong with your quest/event submission.</strong> "+
                data.message+
                "</div>")

              //$('#alertsContainer').append("<div class=\"alert alert-danger alert-dismissible fade in\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Something went wrong :O<strong></div>")
            }
          }, false, false);
          this.reset();
        });
        //<!--#=====================# End Quest Submissions script #=======================#-->\\

        //<!--#=======================# 1 v 1 Submissions script #=========================#-->\\
        $('#fightsubmit').on('submit', function (event) {
          event.preventDefault();

          //set default note if nothing was set

          var note = $('#submitterspam').val()
          if (note == "")
            $('#submitterspam').val('None')

          var form = new FormData(this);
          sunKnightsJsonRequest(form, function (result, data) {
            if (data.status!=null&&data.status!="failure") {
              submission = data['message']['data']
              //Success message
              $('#alertsContainer').append(""+
                "<div class=\"alert alert-success alert-dismissible fade in\" role=\"alert\">"+
                  "<button type=\"button\" "+
                    "class=\"close\" "+
                    "data-dismiss=\"alert\" "+
                    "aria-label=\"Close\""+
                  ">"+
                  "<span aria-hidden=\"true\">&times;</span>"+
                  "</button>"+
                  "<strong>1v1 results submitted</strong>"+
                "</div>")

              //$('#alertsContainer').append("<div class=\"alert alert-success alert-dismissible fade in\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Submitted<strong></div>")
              var points = submission['pointsinfo']['id'] == ({{ user.pointsinfo.id }}) ? submission['points'] : submission['pointsloser']

              datatableopenfightssubmissions.row.add([
                submission['id'],
                points,
                "<a href=\"" + submission['proof'] + "\">Prooflink</a>"
              ]).draw(false)
            }
            else {
              console.log('fuck this shit')
              //Failure message
              $('#alertsContainer').append(""+
                "<div class=\"alert alert-danger alert-dismissible fade in\" role=\"alert\">"+
                "<button type=\"button\" "+
                "class=\"close\" "+
                "data-dismiss=\"alert\" "+
                "aria-label=\"Close\""+
                ">"+
                "<span aria-hidden=\"true\">&times;</span>"+
                "</button>"+
                "<strong>Something went wrong with your 1vs1 submission.</strong> "+
                data.message+
                "</div>")

              //$('#alertsContainer').append("<div class=\"alert alert-danger alert-dismissible fade in\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>Something went wrong :O<strong></div>")
            }
          }, false, false);
          this.reset();
        });
        //<!--#=====================# End 1 v 1 Submissions script #=======================#-->\\

        //<!--#======================# 1 v 1 Player Lookup script #========================#-->\\
        $('#select-users-one-on-one').selectpicker({
          liveSearch: true,
          create: false,
        }).ajaxSelectPicker(ajaxusersearchoptions);
        //<!--#====================# End 1 v 1 Player Lookup script #======================#-->\\

        //<!--#====================# User Description Action script #======================#-->\\
        $(function () {
          getDesc("#userdesc", '{{ lookuser.description|escapejs|default:"None" }}');
          {{ user.id }}
          if (({{ lookuser.id }}) == ({{ user.id }})) {
            $("#userdescbutton").html("Edit").css("display", "block").attr("onclick", "editDesc(this, \"#userdesccancel\", \"#userdesc\")");
            $("#userdesccancel").attr("onclick", "cancelDesc(this, \"#userdescbutton\", \"#userdesc\")");
          }
        });
        //<!--#==================# End User Description Action script #====================#-->\\

        //<!--#================# Custom yScrollbar for User Description #===================#-->\\
        $(function () {
          var desc = $("#userdesccard");
          desc.mCustomScrollbar({
            axis: "y"
          });
        });
        //<!--#==============# End Custom yScrollbar for User Description #=================#-->\\

      });




    </script>

{% endblock %}
<!--##=================================## End GUI Scripts ##===================================##-->
<!--##================================## End userview.html ##==================================##-->
