{% extends "sunknightsapp/base.html" %}
{% block content %}

<em><strong>Diep.io youtubers within our clan!</strong> (Must have 20+ subs and 3+ diep related vids)</em>
<ul class="squareul">
  <li><mention title="❂ Anokuu#9115">@Anokuu</mention> - <a href="https://www.youtube.com/channel/UCUbyfXa08QU6qoj_I5uIYuQ">Click here</a></li>
  <li><mention title="N{❂}ahTh3PandaTank#2084">@N{❂}ahTh3PandaTank</mention> - <a href="https://www.youtube.com/user/hundredandoneducks">Click here</a></li>
  <li><mention title="Corrupt X#6821">@Corrupt X</mention> - <a href="https://www.youtube.com/channel/UC0UH2LfQvBSeH24bmtbmITw">Click here</a></li>
  <li><mention title="Sinbadx#6146">@Sinbadx</mention> - <a href="https://www.youtube.com/channel/UCHUQW6_dDHOTV8TtM_OfZsQ">Click here</a></li>
  <li><mention title="adasba#0178">@Adasba</mention> - <a href="https://www.youtube.com/user/FuzzyCyclopsChickens">Click here</a></li>
  <li><mention title="ThoriumYT#3267">@Thorium</mention> - <a href="https://www.youtube.com/channel/UCO7rnIYnt3hIZTGFGsszYQA">Click here</a></li>
  <li><mention title="Sterlon#3266">@Sterlon</mention> - <a href="https://www.youtube.com/channel/UCwPJynqLqC6tJyvNHY60x0A">Click here</a></li>
  <li><mention title="Maxwell#8323">@Maxwell</mention> - <a href="https://www.youtube.com/channel/UC-Gp8-iWL-uA-DxfvsxFHIQ">Click here</a></li>
  <li><mention title="Dead Account#7000">@Bela</mention> - <a href="https://www.youtube.com/channel/UC606okhDOtKwsnEnT68f4Vw">Click here</a></li>
  <li><mention title="Bob XIII#0998">@Bob XIII</mention> - <a href="https://www.youtube.com/c/BobXIII">Click here</a></li>
  <li><mention title="Darkfire293#9734">@Darkfire293</mention> - <a href="https://www.youtube.com/channel/UCIhKy1TFu0H0mROI8bhDHKA">Click here</a></li>
  <li><mention title="d2xy.0#9438">@d2xy.0</mention> - <a href="https://www.youtube.com/channel/UCZyh1DWHjo8soZd0yndhqiQ">Click here</a></li>
  <li><mention title="[GHT]Person#9399">@[GHT]Person</mention> - <a href="https://www.youtube.com/channel/UCLBSp_S27grf3SC-Nv7_QmA">Click here</a></li>
  <li><mention title="[BS] Bleach#3730">@[BS] Bleach</mention> - <a href="https://www.youtube.com/channel/UCDC46arv3U1jUFY6qJ8BbnQ">Click here</a></li>
  <li><mention title="ArX#1681">@ArX</mention> <a href="https://www.youtube.com/channel/UC5jsIaQIrE-JOBUsoK85iEw">Click here</a></li>
  <li><mention title="Forge#5529">@Forge</mention> - <a href="https://www.youtube.com/channel/UCqFdmExzo-xvvD1HNLJSTcg">Click here</a></li>
</ul>

{% endblock %}