{% extends "base.html" %}
{% block content %}
Hello {{user.discord_nickname}},

<p>You currently have {{user.pointsinfo.currentpoints}} points!</p>
<p>
    Your roles:
<ul>
    {% for userrole in user.roles.all %}
    <li> {{userrole.role.name}} (guild: {{userrole.role.is_clanguild}})</li>
    {% endfor %}
</ul>
</p>

{% if tours %}
Current Tournaments:
<ul>
    {% for tournament in tours %}
        <li>{{tournament}}</li>
    {% endfor %}
</ul>

{% endif %}


{% if user.is_war_manager %}
Create new Tournament:
<form id="new-tournament-form" method="post">
    {% csrf_token %}
    {% for field in new_tournament_form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <input type="submit" value="Submit"/>
</form>

{% endif %}


<a href="leaderboard">Leaderboard</a>

<a href="logout">Logout</a>

{% endblock %}